@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-roboto;
}

.heroHeadingGradient {
  background-image: linear-gradient(90deg, #857bf8, #54e694);
}

.overlayAboutBackgroudEffect {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url('/about-background.jpg');
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('/about-background.jpg');
}

.gradientCircle {
  background-image: linear-gradient(313deg, #54e694, #8a50ec);
  border-radius: 9999px;
}

.projectBackground {
  padding-bottom: 0;
  background-image: url('/background-fragment2.svg'),
    url('/background-fragment1.svg');
  background-position: 100% 100%, 0 0;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
}

  .youtubePlayer {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
  }
  .youtubePlayer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
